In [2]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier, _tree

In [1]:
def fillna(feature, by = -1):
    # copy array
    copied = np.copy(feature)

    mask = pd.isna(copied)

    copied[mask] = by

    return copied

DEFAULT_BINS = 10
def DTMerge(feature, target, nan = -1, n_bins = None, min_samples = 1, **kwargs):
    """Merge by Decision Tree

    Args:
        feature (array-like)
        target (array-like): target will be used to fit decision tree
        nan (number): value will be used to fill nan
        n_bins (int): n groups that will be merged into
        min_samples (int): min number of samples in each leaf nodes

    Returns:
        array: array of split points
    """
    if n_bins is None and min_samples == 1:
        n_bins = DEFAULT_BINS

    feature = fillna(feature, by = nan)

    tree = DecisionTreeClassifier(
        min_samples_leaf = min_samples,
        max_leaf_nodes = n_bins,
        **kwargs,
    )
    tree.fit(feature.reshape((-1, 1)), target)

    thresholds = tree.tree_.threshold
    thresholds = thresholds[thresholds != _tree.TREE_UNDEFINED]
    return np.sort(thresholds)

In [6]:
df = pd.read_csv('回溯数据结果20220412.csv', encoding='gbk')

d:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (46,54,64,74) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
df.iloc[:,[46,54,64,74]]

      最近一次预订酒店星级 历史会员预订酒店涉及城市平均等级 近一年会员预订酒店涉及城市平均等级 近3月会员预订酒店涉及城市平均等级
0             无星             一线城市              一线城市              一线城市
1             无星             三线城市              四线城市              二线城市
2             无星             一线城市              一线城市               NaN
3             无星             二线城市              二线城市               NaN
4             无星             一线城市              二线城市              一线城市
...          ...              ...               ...               ...
50352        NaN              NaN               NaN               NaN
50353        NaN              NaN               NaN               NaN
50354        NaN              NaN               NaN               NaN
50355        NaN              NaN               NaN               NaN
50356        NaN              NaN               NaN               NaN

[50357 rows x 4 columns]

In [10]:
df.head()

,md5_mobile,回溯日期,会员id,是否收单,年龄,年龄范围,性别,手机号归属省份,手机号归属城市,手机号归属地城市等级,...,月底积分余额,历史免费房的预订次数,近一年免费房的预订次数,近3月免费房的预订次数,近一年使用优惠券总金额,近一年使用优惠券平均金额,近一年会员订单优惠金额占订单总价比例,近3月使用优惠券总金额,近3月使用优惠券平均金额,近3月会员订单优惠金额占订单总价比例
0,05592b7af921dd79e06b38ea26346964,20220320,17893,0,72,>60,男,NaN,NaN,NaN,...,8094.0,74.0,15.0,3.0,7430.0,125.932203,0.164039,1608.0,201.0,0.276621
1,35efe261ab1b663b5b40eb23bd540a27,20220320,950190,0,39,36-50,男,广东,惠州,二线,...,34018.0,11.0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000
2,99e592cc486264d8a7246216bb7fc9b3,20220320,2293766,1,37,36-50,男,上海,上海,一线,...,278.0,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000
3,c4dcce537a344982caeaef84cc2f2d7d,20220320,5277716,1,38,36-50,男,广东,深圳,一线,...,9639.0,NaN,NaN,NaN,50.0,25.000000,0.005064,NaN,NaN,0.000000
4,a069903738c17b39be236c2f5c28f1cb,20220320,7372396,0,34,27-35,男,广东,惠州,二线,...,2176.0,8.0,3.0,1.0,NaN,NaN,0.000000,NaN,NaN,0.000000

In [29]:
DTMerge(df['近3月免费房的预订次数'],df['是否收单'],min_samples=10, n_bins=10,min_samples_split=1000)

array([0. , 1.5, 8.5])